
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light mt-5">
        <div class="m-auto">
            <i class="fa fa-copyright">Theodore Kelechukwu</i>
    
            <a href="" ><i class="fa fa-facebook"></i></a>
            <a href="" ><i class="fa fa-linkedin"></i></a>
            <a href="" ><i class="fa fa-github"></i></a>
            <a href="" ><i class="fa fa-twitter"></i></a>
        </div> 
    </nav>

</body>
</html>