h1,h2,h3,h4,h5,h6{
  font-family: sans-serif;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}


nav a{
  transition: all 10s;
  /* background-image: linear-gradient(black, aqua); */
}
nav a:hover{
  border-bottom:2px solid orange;
  animation: navLink 0.3s ease-out;
  background-image: linear-gradient(to right, white,orange, orange);

}

.my-jumbo{
  border-left: 3px solid orange
}

.my-jumbo-box{
  padding: 2%;
  text-align: center;
  border: 3px solid orange;
}
@keyframes navLink{
  0%{
    background-image: linear-gradient(to right, blue,blue, white);
  }
  100%{
    background-image: linear-gradient(to right, white,orange, orange);
  }
}