<span class="breadcrumb-item"><a class="" href="/catalog/author/create"> Create new author</a></span>
<span class="breadcrumb-item"><a class="" href="/catalog/genre/create">Create new genre</a></span>
<span class="breadcrumb-item"><a class='' href="/catalog/book/create">Create new book</a></span>